.shipContainer {
    /*padding: 50px 100px 100px 100px;*/

    /*border-radius: 5px 5px 0 0;*/
}

.shipContainer .col-md-12 {
    background: #3b679e;
    background: linear-gradient(135deg, #3b679e 8%, #2b88d9 50%, #207cca 51%, #337ab7 100%);
    border-top: 1px solid #ddd;
}

.shipContainer, .componentContainer {
    margin-left: -20px;
}

.shipContainer h3 {
    text-align: center;
    margin-bottom: 20px;
}

.shipContainer h3 span.selected span {
    border: 1px solid #fff;
}

span.selected {
    font-weight: 600;
    color: #fff;
}

.ship {
    display: none;
}

.ship.show {
    display: block;
}

.ship img {
    width: auto;
    max-width: 90%;
    max-height: 180px;
    margin: 0 auto;
    display: inherit;
}

/**
Component selector tabs
*/
.componentContainer {
    position: relative;
    top: -50px;
    margin-bottom: -52px;
    padding: 0;
}

.componentContainer .nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
    background: #e3e3e3;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.componentContainer .nav-tabs > li.active {
    background: #d1d1d1;
    border: 1px solid #c0c0c0;
    border-bottom: 0;
}

.componentContainer .nav-tabs > li.active a {
    background: transparent;
    border: none;
}

.componentContainer .nav-tabs > li a {
    color: #474545;
    font-weight: 500;
    font-size: 20px;
}

.nav-tabs {
    text-align: center;
}

.tab-content.componentConfig {
    padding: 20px 0;
}
.componentContainer.container div .tab-content{
    border: 1px solid #e3e3e3;
}

/**
Slot styling
*/
.slots .slot {
    background: #e62830;
    height: 70px;
    width: 70px;
    border: 2px solid #989898;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: -125px;
}

.slots .slot.dropped {
    background: #00b709;
}

.slots .slot:hover {
    border: 2px solid #777777;
}

/* component options */
.componentOption {
    text-align: center;
}

.componentOption img, .slot img.clone {
    border: 2px solid #e3e3e3;
    padding: 5px;
    height: 70px;
    width: 70px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.slot img.clone {
    border: none;
}

.componentOption img:hover {
    border: 2px solid #c0c0c0;
}

.ui-draggable-handle.clone {
    position: absolute;
    top: 0;
    left: 0;
}

/*
Slot positioning
*/
/* Cruiser */
#CruiserShip .slots .slot.one {
    left: 55%;
}

#CruiserShip .slots .slot.two {
    left: 25%;
}

/* Corvette */
#CorvetteShip .slots .slot.one {
    left: 70%;
}

#CorvetteShip .slots .slot.two {
    left: 35%;
}

#CorvetteShip .slots .slot.three {
    left: 5%;
}

/* Carrier */
#CarrierShip .slots .slot.one {
    left: 75%;
}

#CarrierShip .slots .slot.two {
    left: 47%;
}

#CarrierShip .slots .slot.three {
    left: 20%;
}

#CarrierShip .slots .slot.four {
    left: -5%;
}
